.page_header {
    background: url(https://raw.githubusercontent.com/TheFreo/ovksakura/main/src/ovk.png);
}

.header_navigation .link {
    background: url(https://ovk.to/assets/packages/static/openvk/img/divid1er.png) no-repeat;
}

.button {
    background: #612759;
}

#activetabs, .mb_tab#active {
    background: #612759;
}

#used, .slider {
    background: #612759 !important;
}

.bigPlayer, .selectableTrack {
    border-top: #612759 1px solid;
}

.audioEntry.nowPlaying {
    background: #612759;
    border: 1px solid #612759;
}

.audioEntry.nowPlaying:hover {
    background: #732769 !important;
}

.paginator a.active {
    border-top: 3px solid #732769;
}

.profile-hints a, .profile-hints br, #votesBalance {
    display: none;
}

#news {
    display: none;
}

.musicIcon {
    background-image: url('https://raw.githubusercontent.com/TheFreo/ovksakura/main/src/audios-controls.png');
}

.audioEntry .playerButton .playIcon {
    background-image: url('https://raw.githubusercontent.com/TheFreo/ovksakura/main/src/play-buttons.png');
}
